body { 
  margin: 0;
  font-family: "JetBrains Mono",monospace;
}

.main-section {
  background-image: url("images/mainSectionBackground.jpg");
  height: auto;
  width: 100%;
  display: inline-block;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  overflow: hidden;
  background-color: #1F2937;
  padding: 5px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
  padding-left: 50px;
}

.header a:hover {
  color: teal;
}

.header a.active {
  color: teal;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  color: #F9FAF8;
}

.secondary-text {
  font-size: 24px;
  color: #F9FAF8;
  text-align: center;
}

.button-container {
  text-align: center;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.container {
  padding: 100px;
}

.second-section {
  background-color: #1F2937;
  height: auto;
  width: 100%;
  display: inline-block;
}

.image-placeholder {
  height: 250px;
  width: 250px;
  border-style: solid;
  border-color: teal;
}

.image-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 50px;
}

.image-section-text {
  color: #F9FAF8;
  text-align: center;
  width: 250px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #F9FAF8;
  width: 800px;
	}

.quote-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

